.Rproj.user
.Rhistory
.RData
.Ruserdata
*ukb*
plink
*.txt
*.tsv
*.zip
UKB-merged*
tmp*
*.rds
*.bk
*key*
gwas_*
breast-cancer/*
gavinband*
data
BOLT-LMM*
lassosum/*
plink2*
simus/
simus1/
TAGC meta-analyses results for asthma risk/
eur_w_ld_chr*
